---
interface Props {
  href: string
  className?: string
  openBlank?: boolean
}

const { href, className, openBlank } = Astro.props
---

<a
  href={href}
  target={openBlank ? '_blank' : '_self'}
  class={`bg-[#64FFDA] active:scale-[0.95] rounded-lg hover:opacity-70 text-sm text-black font-semibold animate-bounce-fade-in transition ${className ? className : 'px-3 py-2'}`}
  ><slot />
</a>
