---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Login Estudiante">
  <h1>Login Estudiante protegido</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia
    consequuntur eum adipisci commodi. Placeat ipsum quaerat eveniet earum
    repellat a, minima rem delectus, necessitatibus ut velit iste assumenda
    natus? Quae.
  </p>
</Layout>
