---
import Container from '@components/Shared/Container.astro'
import Footer from '@components/Shared/Footer.astro'
import Header from '@components/Shared/Header.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout
  title="Pol铆tica de Privacidad de InfoByte | Protege Tu Informaci贸n Personal"
>
  <Header />
  <section class="max-w-3xl mx-5 md:mx-auto my-10">
    <h1 class="text-5xl my-5">Pol铆tica de Privacidad</h1>
    <p class="mb-5">
      <strong>Fecha de 煤ltima actualizaci贸n: </strong>20/10/2025
    </p>

    <p>
      En <strong>InfoByte</strong>, nos comprometemos a proteger tu privacidad y
      garantizar que tu experiencia en nuestro sitio sea segura y confiable.
      Esta pol铆tica de privacidad describe c贸mo recopilamos, utilizamos y
      protegemos la informaci贸n personal que proporcionas al acceder y utilizar
      nuestros servicios.
    </p>

    <h2>1. Informaci贸n que Recopilamos</h2>
    <p>
      Recopilamos la siguiente informaci贸n cuando te registras en nuestro sitio
      y utilizas nuestros servicios:
    </p>
    <ul>
      <li>
        <strong>Datos de Registro:</strong> Nombre completo, direcci贸n de correo
        electr贸nico, contrase帽a y otra informaci贸n necesaria para crear tu cuenta.
      </li>
      <li>
        <strong>Datos de Navegaci贸n:</strong> Informaci贸n sobre tu dispositivo, ubicaci贸n
        geogr谩fica, direcci贸n IP, y actividad de navegaci贸n en nuestro sitio.
      </li>
      <li>
        <strong>Datos de Cursos:</strong> Informaci贸n relacionada con los cursos
        que visualizas, tus intereses y progreso en los cursos.
      </li>
    </ul>

    <h2>2. C贸mo Utilizamos tu Informaci贸n</h2>
    <p>La informaci贸n que recopilamos se utiliza para los siguientes fines:</p>
    <ul>
      <li>
        <strong>Proveer los servicios:</strong> Gestionar tu cuenta, proporcionarte
        acceso a los cursos y recursos, y asegurarnos de que tengas una experiencia
        personalizada.
      </li>
      <li>
        <strong>Mejorar nuestro sitio:</strong> Analizar tu actividad en el sitio
        para optimizar nuestros servicios y el contenido de los cursos.
      </li>
      <li>
        <strong>Comunicaciones:</strong> Enviarte correos electr贸nicos relacionados
        con tu cuenta, nuevos cursos disponibles y notificaciones importantes sobre
        el sitio.
      </li>
    </ul>

    <h2>3. Seguridad de la Informaci贸n</h2>
    <p>
      Tomamos medidas de seguridad razonables para proteger tu informaci贸n
      personal contra acceso no autorizado, alteraci贸n o destrucci贸n. Usamos
      tecnolog铆as de encriptaci贸n y seguimos las mejores pr谩cticas de la
      industria para mantener la confidencialidad de tus datos.
    </p>

    <h2>4. Uso de Cookies</h2>
    <p>
      Utilizamos cookies para mejorar tu experiencia en nuestro sitio. Las
      cookies son peque帽os archivos almacenados en tu dispositivo que nos
      permiten personalizar tu experiencia, mantener tu sesi贸n activa y analizar
      el tr谩fico web.
    </p>

    <h2>5. Acceso, Modificaci贸n y Eliminaci贸n de tu Informaci贸n</h2>
    <p>
      Tienes el derecho de acceder, corregir o eliminar tu informaci贸n personal
      en cualquier momento. Puedes hacerlo accediendo a la configuraci贸n de tu
      cuenta o poni茅ndote en contacto con nosotros a trav茅s de los medios
      proporcionados en el sitio.
    </p>

    <h2>6. Compartir tu Informaci贸n</h2>
    <p>
      No vendemos, alquilamos ni compartimos tu informaci贸n personal con
      terceros, excepto en los siguientes casos:
    </p>
    <ul>
      <li>
        <strong>Proveedores de Servicios:</strong> Podremos compartir tu informaci贸n
        con proveedores que nos ayuden a operar el sitio y los servicios (por ejemplo,
        proveedores de servicios de hosting, pago, etc.).
      </li>
      <li>
        <strong>Obligaciones Legales:</strong> Si es requerido por la ley o en respuesta
        a un proceso legal, podemos divulgar tu informaci贸n.
      </li>
    </ul>

    <h2>7. Enlaces a Otros Sitios</h2>
    <p>
      Nuestro sitio puede contener enlaces a otros sitios web. No somos
      responsables de las pr谩cticas de privacidad de esos sitios. Te
      recomendamos leer sus pol铆ticas de privacidad antes de proporcionarles
      cualquier informaci贸n personal.
    </p>

    <h2>8. Cambios en esta Pol铆tica</h2>
    <p>
      Nos reservamos el derecho de modificar esta pol铆tica de privacidad en
      cualquier momento. Cualquier cambio ser谩 publicado en esta p谩gina con la
      fecha de la 煤ltima actualizaci贸n. Te recomendamos revisar esta p谩gina
      regularmente para estar al tanto de cualquier cambio.
    </p>

    <h2>9. Contacto</h2>
    <p>
      Si tienes alguna pregunta o inquietud sobre esta pol铆tica de privacidad,
      no dudes en ponerte en contacto con nosotros a trav茅s de:
    </p>
    <ul>
      <li>
        <strong>Correo electr贸nico: </strong><a
          href="mailto:nestnidev17@gmail.com">nestnidev17@gmail.com</a
        >
      </li>
      <li><strong>Direcci贸n: </strong>Colombia ○叼</li>
    </ul>
  </section>
</Layout>
<Footer />

<style>
  h2 {
    font-size: 28px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    margin-top: 8px;
  }
  ul {
    list-style-type: circle;
    list-style-position: inside;
  }

  p {
    margin-bottom: 10px;
  }
</style>
