---
import SearchInput from '@assets/icons/SearchInput.astro'
import Container from '@components/Container.astro'
import Header from '@components/Header.astro'
import ArticleRecurses from '@components/recurses/ArticleRecurses.astro'
import Layout from '@layouts/Layout.astro'
import { recurses } from '@lib/recurses'
---

<Layout title="Recursos">
  <Header />
  <Container>
    <h1 class="text-4xl text-white mt-5 mb-2">Recursos Educativos</h1>
    <p class="text-white my-5 mx-10 md:mx-0 text-base">
      En esta sección encontrarás una variedad de recursos educativos para
      ayudarte a aprender y mejorar tus habilidades técnicas.
    </p>
    <section>
      <form method="GET" action="/loginEstudiante" role="search">
        <div class="flex">
          <SearchInput class="ml-1" />
          <input
            type="text"
            id="buscador"
            name="search"
            placeholder="Busca cursos por título..."
            autocomplete="off"
          />
          <button type="submit">Buscar</button>
        </div>
      </form>
    </section>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-10">
      {recurses.map((item) => <ArticleRecurses {...item} />)}
    </section>
  </Container>
</Layout>

<style>
  form {
    width: 550px;
    margin: 0 auto;
    padding-inline: 16px;
  }

  form > div {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 1px #64748b;
    padding: 2px 10px;
    gap: 0.5rem;
  }

  form input[type='text'] {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--text-primary);
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    font-family: inherit;
  }

  form input[type='text']::placeholder {
    color: #64748b;
  }

  button[type='button'] {
    background-color: #ff0000;
  }
</style>
