---
interface Props {
  href: string
  className?: string
}

const { href, className } = Astro.props
---

<a
  href={href}
  class={`bg-[#64FFDA]  rounded-lg hover:opacity-60 text-sm text-black font-semibold transition ${className ? className : 'px-3 py-2'}`}
  ><slot />
</a>
