---
import Container from '@components/Container.astro'
---

<footer class="border-t-1">
  <Container>
    <div
      class="flex flex-col lg:flex-row justify-between py-3 items-center gap-2 text-sm"
    >
      <h3 class="actual">
        @ {new Date().getFullYear()} | Tecnico en Sistemas IFE
      </h3>
      <div class="flex gap-2">
        <a href="/">Facebook</a>
        <a href="/">Instagram</a>
        <a href="/">Youtube</a>
      </div>
      <div class="flex gap-2">
        <a href="/">Contacto</a>
        <a href="/">Política de Privacidad</a>
        <a href="/">Términos de uso</a>
      </div>
    </div>
  </Container>
</footer>
