---
import Logo from '@assets/icons/Logo.astro'
import Button from '@components/Button.astro'
import Container from '@components/Container.astro'
import LogoPrincipal from '/public/systems.svg'
import { Picture } from 'astro:assets'
import SearchInput from '@assets/icons/SearchInput.astro'

const { isLoggedIn, displayName, photoURL } = Astro.locals

const photoURL2 =
  photoURL && photoURL.trim() !== ''
    ? photoURL
    : 'https://api.dicebear.com/7.x/adventurer/svg?seed=Neider'
---

<div class="border-b border-gray-500/30">
  <Container>
    <header class="flex justify-between items-center py-4 px-8">
      <div class="flex justify-between items-center gap-5">
        <Picture
          src={LogoPrincipal}
          alt="Logo Principal"
          class="size-10"
          inferSize
          formats={['webp', 'avif', 'jpg']}
        />
        <nav>
          <ul class="flex justify-between items-center gap-5">
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/post/blogTecnicoSistemas">Blog</a>
            </li>
            <li>
              {isLoggedIn && <a href="/loginEstudiante">Perfil</a>}
            </li>
            <li>
              {isLoggedIn && <a href="/recursos">Recursos</a>}
            </li>
          </ul>
        </nav>
      </div>

      {
        isLoggedIn ? (
          <Picture
            transition:name={`image-${displayName}`}
            src={photoURL2}
            alt={'Logo Principal'}
            class={'size-12 rounded-full'}
            inferSize
          />
        ) : (
          <Button href="/inicioSesion"> Ingresar </Button>
        )
      }
    </header>
  </Container>
</div>
