---
import Logo from '@assets/icons/Logo.astro'
import Button from '@components/Button.astro'
import Container from '@components/Container.astro'
import LogoPrincipal from '/public/systems.svg'
import { Picture } from 'astro:assets'
---

<div class="border-b border-gray-500/30">
  <Container>
    <header class="flex justify-between items-center py-4 px-8">
      <div class="flex justify-between items-center gap-5">
        <Picture
          src={LogoPrincipal}
          alt=""
          class="size-10"
          inferSize
          formats={['webp', 'avif', 'jpg']}
        />
        <nav>
          <ul class="flex justify-between items-center gap-5">
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/">Cursos</a>
            </li>
            <li>
              <a href="/post/blogTecnicoSistemas">Blog</a>
            </li>
            <li>
              <a href="/loginEstudiante">Perfil</a>
            </li>
          </ul>
        </nav>
      </div>
      <Button href="/inicioSesion"> Login </Button>
    </header>
  </Container>
</div>
