---
import Button from '@components/Button.astro'
import Container from '@components/Container.astro'
import { dataNewsJson } from '@pages/api/getNews'
import ArticleMain from '@components/ArticleMain.astro'
interface NewsItem {
  title: string
  description: string
  url: string
  image_url: string
  published_at: string
  source: string
}

const resNews = await fetch('http://localhost:4321/api/get-news')
const dataNews: NewsItem[] = await resNews.json()
---

<main class="flex items-center my-5 mx-auto">
  <Container>
    <div class="flex flex-col gap-5">
      <section>
        <div>
          <h2>¿Qué es un técnico de sistemas?</h2>
          <p class="mt-2 mb-5 lg:mb-15">
            El técnico de sistemas es aquella persona encargada de la
            instalación, configuración y mantenimiento de los sistemas
            informático, equipo y redes de telecomunicación. Su función
            principal es asegurar la integración y el correcto funcionamiento de
            todos los sistemas tecnológicos en la empresa.
          </p>
          <Button href="/post/infoSistemas"> Leer más...</Button>
        </div>
      </section>
      <h3 class="text-xl text-center md:text-left text-white font-extrabold">
        Ultimas noticias
      </h3>
      <section>
        {
          // @ts-ignore
          dataNews.data.map((item: NewsItem) => {
            return <ArticleMain {...item} />
          })
        }
      </section>
    </div>
  </Container>

  <style>
    main section:first-child {
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.5),
          rgba(226, 223, 223, 0)
        ),
        url('/images/tecnico sistemas.webp');

      border-radius: 20px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      aspect-ratio: 8 / 5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 32px;
      /* overflow: hidden; */
    }

    section > div h2 {
      color: #fff;
      font-weight: 700;
      font-size: 40px;
    }

    section > div p {
      color: var(--letter);
      font-weight: 400;
      font-size: 18px;
    }

    main section:last-child {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    @media (max-width: 768px) {
      main section:first-child {
        margin-inline: 20px;
      }
      section > div h2 {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
      }
      section > div p {
        font-size: 12px;
      }

      main section:last-child {
        margin-inline: 20px;
      }
    }
  </style>
</main>
