---
// @ts-ignore
import Top from '@assets/icons/Top.astro'
import '@fontsource-variable/outfit'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/systems.svg" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body id="inicio">
    <slot />
    <a
      id="top"
      href="#inicio"
      class="fixed bottom-6 right-6 z-50 p-2 rounded-full bg-white transition-all -rotate-45 hover:rotate-0"
    >
      <Top class="size-8" />
    </a>
  </body>
</html>

<style is:global>
  @import 'tailwindcss';
  @plugin '@midudev/tailwind-animations';

  :root {
    --fondo: #0b192f;
    --letter: #cdd7f7;
    --colorAquamarine: #64ffda;
    --font: 'Outfit Variable', sans-serif;
  }
  html {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--letter);
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--fondo);
  }
  a:empty {
    opacity: 0.8;
  }

  div > a:not(p ~ :last-child),
  ul li a {
    display: inline-block;
    /* color: var(--letter); */
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
    &:hover {
      text-shadow: 0 0 10px var(--letter);
      transform: translateY(-2px);
    }
  }

  #top {
    transition: all ease-in-out 0.2s;
    animation: scroll linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 10px;
  }
  @keyframes scroll {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
