---
// @ts-ignore
import '@fontsource-variable/outfit'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/systems.svg" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import 'tailwindcss';

  :root {
    --fondo: #0b192f;
    --letter: #cdd7f7;
    --colorAquamarine: #64ffda;
    --font: 'Outfit Variable', sans-serif;
  }
  html,
  body {
    margin: 0;
    background-color: var(--fondo);
    font-family: var(--font);
    color: var(--letter);
    scroll-behavior: smooth;
  }
  a:empty {
    opacity: 0.8;
  }

  div > a:not(p ~ :last-child),
  ul li a {
    display: inline-block;
    color: var(--letter);
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
    &:hover {
      text-shadow: 0 0 10px var(--letter);
      transform: translateY(-2px);
    }
  }
</style>
