---
// @ts-ignore
import '@fontsource-variable/outfit'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/systems.svg" />
    <title>Tecnico en Sistemas IFE</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import 'tailwindcss';
</style>
